.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: 'Ysabeau SC', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf9ec;
}

header {
    background-color: #108484;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

header img.logo {
    height: 50px;
    flex: 0 0 auto;
}

header select {
    padding: 5px;
    flex: 0 0 auto;
    margin-right: auto;
}

header input[type="search"] {
    padding: 5px;
    flex: 0 1 auto;
}

header img.search-icon {
    height: 20px;
    flex: 0 0 auto;
}

.main-content {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-content h1 {
    font-family: 'Permanent Marker';
    font-size: 40px;
    color: #108484;
}

.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    font-family: 'Poetsen One', Arial, sans-serif;
    font-size: 40px;
    color: #108484;
}

.main-content p {
    font-family: 'Ysabeau SC', Arial, sans-serif;
    font-size: 18px;
    color: #108484;
}

.pets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.pet-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    width: 200px;
    padding: 20px;
}

.pet-card img {
    width: 100%;
    border-radius: 10px;
}

.pet-card h2 {
    font-family: 'Poetsen One', Arial, sans-serif;
    margin: 10px 0 0 0;
    font-size: 18px;
}

footer {
    background-color: #e87c3c;
    padding: 20px 20px;
    text-align: center;
    clear: both;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

label {
    grid-column: 1 / 3;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
select,
textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"],
button[type="reset"] {
    grid-column: 1 / 2;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="reset"] {
    grid-column: 2 / 3;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-family: 'Poetsen One', Arial, sans-serif;
}

td {
    font-family: 'Ysabeau SC', Arial, sans-serif;
}

.text-section {
    width: 50%;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.m2 img {
    width: 40%;
    float: right;
}

.main-content img {
    width: 40%;
    float: right;
}